// Nogle tilfældige styles er indsat her for at bevise det virker:

h1 {
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
}

p {
  font-family: sans-serif;
  font-size: 1.2em;
}

#output {
  text-align: center;
}
